/*
body {
	padding-top: 40px;
}
*/
legend {
	border-bottom-color: #999;
	padding-left: 15px;
}

.custom-error {
	color: #a94442;
}

.custom-label {
	padding-right: 5px;
}

.form-horizontal .form-group {
	margin-right: 0;
	margin-left: 0;
}

.navbar-right {
	margin-right: 0;
}

.panel-default {
	border-color: #ccc;
}

.panel-default .info-title {
	display: inline-block;
	text-align: right;
	width: 58px;
}

.panel-default .info-link {
	color: #FFF;
	text-decoration: underline;
}

.panel-default .info-link:hover {
	color: #BDBDBD;
	text-decoration: none;
}

/**
 * IDs personalizadas
 */
#acao-editar, #acao-remover, #acao-visualizar {
	width: 31px;
}

#acao-editar a {
	color: #337ab7;
}

#acao-editar a:hover {
	color: #286090;
}

#acao-editar a:active {
	color: #204d74;
}

#acao-remover a {
	color: #d9534f;
}

#acao-remover a:hover {
	color: #c9302c;
}

#acao-remover a:active {
	color: #ac2925;
}

#acao-visualizar a {
	color: #5cb85c;
}

#acao-visualizar a:hover {
	color: #449d44;
}

#acao-visualizar a:active {
	color: #398439;
}
