/*
body {
  padding-bottom: 51px;
}
*/

.page-header {
	margin-top: 0;
	margin-bottom: 10px;
}

/* < Decoração das legendas do formulário > */
legend {
  border-bottom-color: #999;
}

/* < Erro de validação de formulário > */
.custom-error {
  color: #a94442;
}

/* < Painel de informações > */
.panel-default {
  border-color: #ccc;
}

.panel-default .info-title {
  display: inline-block;
  text-align: right;
  width: 58px;
}

.panel-default .info-link {
  color: #fff;
  text-decoration: underline;
}

.panel-default .info-link:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* < Alinhamento de alguns campos no formulário > */
#motorista_cpf, #valor, #peso, #destinatario_cnpj {
  text-align: right;
}

/* < Barra de navegação do rodapé > */
@media (min-width: 768px) {
  #navbar-bottom .navbar-form {
    padding-right: 0;
    padding-left: 0;
  }

  #navbar-bottom .btn {
    width: 167px;
  }
}

@media (max-width: 767px) {
/*
	body {
    padding-bottom: 85px;
	}
*/

  #navbar-bottom {
    border: none
  }

	.navbar-form {
	  border: none;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* < Painel inicial > */
.modal .glyphicon-eye-open {
  color: #5cb85c;
}

.modal .glyphicon-remove-sign {
  color: #d9534f;
}

.table tbody>tr>td {
  vertical-align: middle;
}

.table tbody>tr>td.acoes {
  padding-right: 0;
  padding-left: 0;
}